/* Styling the Body element i.e. Color,
		Font, Alignment */
		body {
			background-color: #e3f8ff;
			font-family: Verdana;
			text-align: center;
		}
        h1{
            text-shadow: 5px 5px 5px #e88dcc;
            font-weight: 400;
            font-size: 40px;

            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        }

		/* Styling the Form (Color, Padding, Shadow) */
		form {
			background-color: rgb(234, 109, 196);
			max-width: 500px;
			margin: 50px auto;
			padding: 30px 20px;
			box-shadow: 2px 5px 10px rgba(248, 136, 236, 0.975);
            border-radius: 10px;
		}

		/* Styling form-control Class */
		.form-control {
			text-align: left;
			margin-bottom: 25px;
		}

		/* Styling form-control Label */
		.form-control label {
			display: block;
			margin-bottom: 10px;
		}

		/* Styling form-control input,
		select, textarea */
		.form-control input,
		.form-control select,
		.form-control textarea {
			border: 1px solid rgb(127, 217, 47);
			border-radius: 5px;
			font-family: inherit;
			padding: 10px;
			display: block;
			width: 95%;
		}

		/* Styling form-control Radio
		button and Checkbox */
		.form-control input[type="radio"],
		.form-control input[type="checkbox"] {
			display: inline-block;
			width: auto;
		}

		/* Styling Button */
		button {
			background-color: #11c571;
			border: 1px solid rgb(56, 245, 14);
			border-radius: 5px;
			font-family: inherit;
			font-size: 31px;
			display: block;
			width: 40%;
			margin-top: 50px;
			margin-bottom: 20px;
            margin-left: 30%;
            color: greenyellow;
        }